*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


.wrapper{
    width: 100%;
    padding: 20px 0px;
}

.wrapper .header{
    width: 70%;
    margin: 0 auto;
   
}

.wrapper .introduction{
    text-align: center;
    padding: 30px 0px;
}
.introduction h3{
    padding: 7px 0px;
}
.introduction .bold{
    font-weight: bold;
}
hr{
    border: 1px solid #000;
  
}


 .summary li{
    font-size: 19px;
    padding: 4px 0px;
    margin-left: 60px;
   
}
.summary h2{
    margin-left: 30px;
    margin-top: 10px;
}

/* add media query */

@media only screen and (max-width:600px) {
    .wrapper .header{
        width: 90%;
        margin: 0 auto;
       
    }

    .summary li{
        font-size: 17px;
    }

    .summary .padding
    {
        padding-right: 15px;
    }

}